@{
    ViewBag.Title = "Users Management";
    ViewBag.CardTitle = "View Users";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="custom-card">

    <div class="custom-card-title">
        <i class="fa-solid fa-box-open me-2"></i>
        @ViewBag.CardTitle
    </div>

    <div class="top-btn">
        <a asp-controller="User"
           asp-action="Create"
           class="btn btn-primary">
            <i class="fa-solid fa-circle-plus me-1"></i>
            Create User
        </a>
    </div>

    <table id="mytable" class="display table-hover" width="100%">
    </table>

</div>

@section Scripts {
    <script src="~/js/modules/users.js"></script>
}


