<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Shop | Dashboard</title>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    @* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" /> *@
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    
    <!-- Custom CSS -->        
    <link href="~/css/dashboard.css" rel="stylesheet" />



</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
       <partial name="_AdminNavbar" />
        
       <!-- Sidebar -->
        <partial name="_AdminSidebar" />

        <!-- Content -->
        <div class="content-wrapper">

            <section class="content-header">
                <div class="container-fluid">
                    <h1>@ViewBag.PageTitle</h1>
                </div>
            </section>

            <section class="content">

                <div class="card">

                    <div class="card-header">

                        <h3 class="card-title">
                            @ViewBag.CardTitle
                        </h3>

                        <div class="card-tools">

                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>

                            <button type="button"
                                    class="btn btn-tool"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>

                        </div>

                    </div>

                    <div class="card-body">

                        <partial name="_Toaster" />

                        @RenderBody()

                    </div>

                </div>

            </section>

        </div>

        <!-- Footer -->
        <partial name="_Footer" />

    </div>

    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>