@{
    ViewBag.PageTitle = "Products Management";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="custom-card">

    <div class="custom-card-title">
        <i class="fa-solid fa-box-open me-2"></i>
        @ViewBag.CardTitle
    </div>

    <div class="top-btn">
        <a asp-controller="Product"
           asp-action="Create"
           class="btn btn-primary">
            <i class="fa-solid fa-circle-plus me-1"></i>
            Create Product
        </a>
    </div>

    <table id="mytable" class="display table-hover" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th style="width:130px;">Actions</th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts {
    <script src="~/js/modules/products.js"></script>
}