@{
    ViewBag.Title = "Orders Management";
    ViewBag.CardTitle = "View Orders";
    Layout = "~/Areas/Admin/Views/Shared/_Dashboard.cshtml";
}

<div class="custom-card">

    <div class="custom-card-title">
        <i class="fa-solid fa-box-open me-2"></i>
        @ViewBag.CardTitle
    </div>

@*     <div class="top-btn">
        <a asp-area="Admin"
           asp-controller="Order"
           asp-action="Create"
           class="btn btn-primary">
            <i class="fa-solid fa-circle-plus me-1"></i>
            Create Order
        </a>
    </div>
 *@
    <table id="mytable" class="display table-hover" width="100%">
    </table>

</div>

@section Scripts {
    <script src="~/js/modules/admin/orders.js"></script>
}


